In [7]:
import pandas as pd

In [2]:
pd.__version__

'1.5.2'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', nrows=100)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
engine.connect()

In [8]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [40]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [12]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [9]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=100000)

In [10]:
df = next(df_iter)

In [11]:
len(df)

100000

In [12]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [13]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [45]:
df.head(n=5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [14]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 4.22 s
Wall time: 8.83 s

1000

In [15]:
from time import time

In [16]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 8.884 second
inserted another chunk, took 8.578 second
inserted another chunk, took 8.498 second
inserted another chunk, took 8.832 second
inserted another chunk, took 8.859 second
inserted another chunk, took 9.033 second
inserted another chunk, took 8.856 second
inserted another chunk, took 8.774 second
inserted another chunk, took 8.639 second
inserted another chunk, took 8.898 second
inserted another chunk, took 8.718 second

C:\Users\linli\AppData\Local\Temp\ipykernel_35860\2113580993.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 8.841 second
inserted another chunk, took 5.642 second

StopIteration:

In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-24 12:49:12--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.143.166, 52.217.48.78, 54.231.169.136, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.143.166|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100% 2.44M=0.005s

2023-01-24 12:49:13 (2.44 MB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [11]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [12]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [13]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [41]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [15]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

--2023-01-24 13:17:25--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230124T181725Z&X-Amz-Expires=300&X-Amz-Signature=b56cce1cf124d451b4e40901f9e4579eacd68c7421f74c3e6917328cca4d9375&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-24 13:17:25--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230124T181725Z&X-Amz-Expires=300&X-Amz-Signature=b56cce1cf124d451b4e40901f9e4579eacd68c7421f74c3e6917328cca4d9375&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11099245 (11M) [application/octet-stream]
Saving to: 'green_tripdata_2019-01.csv.gz'

     0K .......... .......... .......... .......... ..........  0% 2.21M 5s
    50K .......... .......... .......... .......... ..........  0% 4.34M 4s
   100K .......... .......... .......... .......... ..........  1% 39.2M 2s
   150K .......... .......... .......... .......... ..........  1% 4.47M 2s
   200K .......... .......... .......... .......... ..........  2% 38.7M 2s
   250K .......... .......... .......... .......... ..........  2%  173M 2s
   300K .......... .......... .......... .......... ..........  3% 4.49M 2s
   350K .......... .......... .......... .......... ..........  3% 41.4M 2s
   400K .......... .......... .......... .......... ..........  4% 19.0M 1s
   450K .......... .......... .......... .......... ..........  4% 5.92M 1s
   500K .......... .......... .......... .......... ..........  5% 33.4M 1s
   550K .......... .......... .......... .......... ..........  5%  258M 1s
   600K .......... .......... .......... .......... ..........  5%  112M 1s
   650K .......... .......... .......... .......... ..........  6% 30.9M 1s
   700K .......... .......... .......... .......... ..........  6% 4.12M 1s
   750K .......... .......... .......... .......... ..........  7% 43.1M 1s
   800K .......... .......... .......... .......... ..........  7%  163M 1s
   850K .......... .......... .......... .......... ..........  8%  155M 1s
   900K .......... .......... .......... .......... ..........  8% 16.7M 1s
   950K .......... .......... .......... .......... ..........  9%  166M 1s
  1000K .......... .......... .......... .......... ..........  9% 36.4M 1s
  1050K .......... .......... .......... .......... .......... 10% 15.6M 1s
  1100K .......... .......... .......... .......... .......... 10% 38.9M 1s
  1150K .......... .......... .......... .......... .......... 11%  180M 1s
  1200K .......... .......... .......... .......... .......... 11% 25.7M 1s
  1250K .......... .......... .......... .......... .......... 11%  354M 1s
  1300K .......... .......... .......... .......... .......... 12% 21.4M 1s
  1350K .......... .......... .......... .......... .......... 12%  493M 1s
  1400K .......... .......... .......... .......... .......... 13% 9.05M 1s
  1450K .......... .......... .......... .......... .......... 13%  213M 1s
  1500K .......... .......... .......... .......... .......... 14%  122M 1s
  1550K .......... .......... .......... .......... .......... 14%  157M 1s
  1600K .......... .......... .......... .......... .......... 15%  135M 1s
  1650K .......... .......... .......... .......... .......... 15%  316M 1s
  1700K .......... .......... .......... .......... .......... 16%  207M 1s
  1750K .......... .......... .......... .......... .......... 16% 53.6M 1s
  1800K .......... .......... .......... .......... .......... 17% 28.6M 1s
  1850K .......... .......... .......... .......... .......... 17% 19.2M 1s
  1900K .......... .......... .......... .......... .......... 17% 17.0M 1s
  1950K .......... .......... .......... .......... .......... 18% 69.1M 1s
  2000K .......... .......... .......... .......... .......... 18% 37.4M 1s
  2050K .......... .......... .......... .......... .......... 19%  207M 0s
  2100K .......... .......... .......... .......... .......... 19% 7.09M 1s
  2150K .......... .......... .......... .......... .......... 20%  189M 0s
  2200K .......... .......... .......... .......... .......... 20%  215M 0s
  2250K .......... .......... .......... .......... .......... 21%  198M 0s
  2300K .......... .......... .......... .......... .......... 21%  370M 0s
  2350K .......... .......... .......... .......... .......... 22%  183M 0s
  2400K .......... .......... .......... .......... .......... 22%  210M 0s
  2450K .......... .......... .......... .......... .......... 23%  171M 0s
  2500K .......... .......... .......... .......... .......... 23% 14.3M 0s
  2550K .......... .......... .......... .......... .......... 23%  343M 0s
  2600K .......... .......... .......... .......... .......... 24% 20.7M 0s
  2650K .......... .......... .......... .......... .......... 24%  193M 0s
  2700K .......... .......... .......... .......... .......... 25%  119M 0s
  2750K .......... .......... .......... .......... .......... 25%  201M 0s
  2800K .......... .......... .......... .......... .......... 26% 35.9M 0s
  2850K .......... .......... .......... .......... .......... 26%  389M 0s
  2900K .......... .......... .......... .......... .......... 27% 93.0M 0s
  2950K .......... .......... .......... .......... .......... 27% 34.3M 0s
  3000K .......... .......... .......... .......... .......... 28%  164M 0s
  3050K .......... .......... .......... .......... .......... 28% 30.6M 0s
  3100K .......... .......... .......... .......... .......... 29%  173M 0s
  3150K .......... .......... .......... .......... .......... 29% 44.2M 0s
  3200K .......... .......... .......... .......... .......... 29% 30.7M 0s
  3250K .......... .......... .......... .......... .......... 30%  186M 0s
  3300K .......... .......... .......... .......... .......... 30% 26.5M 0s
  3350K .......... .......... .......... .......... .......... 31%  210M 0s
  3400K .......... .......... .......... .......... .......... 31%  509M 0s
  3450K .......... .......... .......... .......... .......... 32% 27.5M 0s
  3500K .......... .......... .......... .......... .......... 32%  367M 0s
  3550K .......... .......... .......... .......... .......... 33%  116M 0s
  3600K .......... .......... .......... .......... .......... 33%  437M 0s
  3650K .......... .......... .......... .......... .......... 34% 32.8M 0s
  3700K .......... .......... .......... .......... .......... 34%  350M 0s
  3750K .......... .......... .......... .......... .......... 35% 94.3M 0s
  3800K .......... .......... .......... .......... .......... 35% 29.5M 0s
  3850K .......... .......... .......... .......... .......... 35%  362M 0s
  3900K .......... .......... .......... .......... .......... 36%  120M 0s
  3950K .......... .......... .......... .......... .......... 36% 29.9M 0s
  4000K .......... .......... .......... .......... .......... 37%  202M 0s
  4050K .......... .......... .......... .......... .......... 37% 12.0M 0s
  4100K .......... .......... .......... .......... .......... 38% 20.7M 0s
  4150K .......... .......... .......... .......... .......... 38%  243M 0s
  4200K .......... .......... .......... .......... .......... 39%  196M 0s
  4250K .......... .......... .......... .......... .......... 39%  327M 0s
  4300K .......... .......... .......... .......... .......... 40% 28.3M 0s
  4350K .......... .......... .......... .......... .......... 40%  413M 0s
  4400K .......... .......... .......... .......... .......... 41% 25.2M 0s
  4450K .......... .......... .......... .......... .......... 41%  214M 0s
  4500K .......... .......... .......... .......... .......... 41%  524M 0s
  4550K .......... .......... .......... .......... .......... 42% 36.1M 0s
  4600K .......... .......... .......... .......... .......... 42%  391M 0s
  4650K .......... .......... .......... .......... .......... 43% 37.9M 0s
  4700K .......... .......... .......... .......... .......... 43%  364M 0s
  4750K .......... .......... .......... .......... .......... 44%  248M 0s
  4800K .......... .......... .......... .......... .......... 44%  103M 0s
  4850K .......... .......... .......... .......... .......... 45% 27.2M 0s
  4900K .......... .......... .......... .......... .......... 45%  331M 0s
  4950K .......... .......... .......... .......... .......... 46% 27.9M 0s
  5000K .......... .......... .......... .......... .......... 46%  374M 0s
  5050K .......... .......... .......... .......... .......... 47%  130M 0s
  5100K .......... .......... .......... .......... .......... 47%  344M 0s
  5150K .......... .......... .......... .......... .......... 47% 7.40M 0s
  5200K .......... .......... .......... .......... .......... 48% 30.4M 0s
  5250K .......... .......... .......... .......... .......... 48%  269M 0s
  5300K .......... .......... .......... .......... .......... 49%  323M 0s
  5350K .......... .......... .......... .......... .......... 49%  397M 0s
  5400K .......... .......... .......... .......... .......... 50%  340M 0s
  5450K .......... .......... .......... .......... .......... 50%  254M 0s
  5500K .......... .......... .......... .......... .......... 51%  308M 0s
  5550K .......... .......... .......... .......... .......... 51%  319M 0s
  5600K .......... .......... .......... .......... .......... 52%  200M 0s
  5650K .......... .......... .......... .......... .......... 52%  406M 0s
  5700K .......... .......... .......... .......... .......... 53%  288M 0s
  5750K .......... .......... .......... .......... .......... 53%  277M 0s
  5800K .......... .......... .......... .......... .......... 53% 5.16M 0s
  5850K .......... .......... .......... .......... .......... 54%  185M 0s
  5900K .......... .......... .......... .......... .......... 54%  328M 0s
  5950K .......... .......... .......... .......... .......... 55%  212M 0s
  6000K .......... .......... .......... .......... .......... 55% 7.29M 0s
  6050K .......... .......... .......... .......... .......... 56%  161M 0s
  6100K .......... .......... .......... .......... .......... 56%  246M 0s
  6150K .......... .......... .......... .......... .......... 57%  222M 0s
  6200K .......... .......... .......... .......... .......... 57%  329M 0s
  6250K .......... .......... .......... .......... .......... 58% 37.6M 0s
  6300K .......... .......... .......... .......... .......... 58%  268M 0s
  6350K .......... .......... .......... .......... .......... 59%  312M 0s
  6400K .......... .......... .......... .......... .......... 59%  184M 0s
  6450K .......... .......... .......... .......... .......... 59%  540M 0s
  6500K .......... .......... .......... .......... .......... 60% 30.2M 0s
  6550K .......... .......... .......... .......... .......... 60%  359M 0s
  6600K .......... .......... .......... .......... .......... 61%  216M 0s
  6650K .......... .......... .......... .......... .......... 61%  290M 0s
  6700K .......... .......... .......... .......... .......... 62% 6.16M 0s
  6750K .......... .......... .......... .......... .......... 62%  282M 0s
  6800K .......... .......... .......... .......... .......... 63%  136M 0s
  6850K .......... .......... .......... .......... .......... 63%  534M 0s
  6900K .......... .......... .......... .......... .......... 64%  264M 0s
  6950K .......... .......... .......... .......... .......... 64% 27.5M 0s
  7000K .......... .......... .......... .......... .......... 65%  256M 0s
  7050K .......... .......... .......... .......... .......... 65% 43.9M 0s
  7100K .......... .......... .......... .......... .......... 65%  540M 0s
  7150K .......... .......... .......... .......... .......... 66%  213M 0s
  7200K .......... .......... .......... .......... .......... 66% 31.7M 0s
  7250K .......... .......... .......... .......... .......... 67%  277M 0s
  7300K .......... .......... .......... .......... .......... 67% 25.4M 0s
  7350K .......... .......... .......... .......... .......... 68%  289M 0s
  7400K .......... .......... .......... .......... .......... 68% 7.74M 0s
  7450K .......... .......... .......... .......... .......... 69%  123M 0s
  7500K .......... .......... .......... .......... .......... 69%  269M 0s
  7550K .......... .......... .......... .......... .......... 70%  183M 0s
  7600K .......... .......... .......... .......... .......... 70%  387M 0s
  7650K .......... .......... .......... .......... .......... 71%  262M 0s
  7700K .......... .......... .......... .......... .......... 71%  515M 0s
  7750K .......... .......... .......... .......... .......... 71%  146M 0s
  7800K .......... .......... .......... .......... .......... 72%  240M 0s
  7850K .......... .......... .......... .......... .......... 72%  243M 0s
  7900K .......... .......... .......... .......... .......... 73%  255M 0s
  7950K .......... .......... .......... .......... .......... 73% 92.3M 0s
  8000K .......... .......... .......... .......... .......... 74%  258M 0s
  8050K .......... .......... .......... .......... .......... 74% 30.9M 0s
  8100K .......... .......... .......... .......... .......... 75%  279M 0s
  8150K .......... .......... .......... .......... .......... 75% 8.49M 0s
  8200K .......... .......... .......... .......... .......... 76% 24.2M 0s
  8250K .......... .......... .......... .......... .......... 76%  489M 0s
  8300K .......... .......... .......... .......... .......... 77% 33.1M 0s
  8350K .......... .......... .......... .......... .......... 77%  193M 0s
  8400K .......... .......... .......... .......... .......... 77% 25.9M 0s
  8450K .......... .......... .......... .......... .......... 78%  169M 0s
  8500K .......... .......... .......... .......... .......... 78%  244M 0s
  8550K .......... .......... .......... .......... .......... 79%  361M 0s
  8600K .......... .......... .......... .......... .......... 79% 47.0M 0s
  8650K .......... .......... .......... .......... .......... 80%  264M 0s
  8700K .......... .......... .......... .......... .......... 80%  110M 0s
  8750K .......... .......... .......... .......... .......... 81% 31.8M 0s
  8800K .......... .......... .......... .......... .......... 81%  107M 0s
  8850K .......... .......... .......... .......... .......... 82%  237M 0s
  8900K .......... .......... .......... .......... .......... 82% 46.9M 0s
  8950K .......... .......... .......... .......... .......... 83% 84.5M 0s
  9000K .......... .......... .......... .......... .......... 83% 29.9M 0s
  9050K .......... .......... .......... .......... .......... 83%  431M 0s
  9100K .......... .......... .......... .......... .......... 84% 29.0M 0s
  9150K .......... .......... .......... .......... .......... 84%  298M 0s
  9200K .......... .......... .......... .......... .......... 85%  175M 0s
  9250K .......... .......... .......... .......... .......... 85%  142M 0s
  9300K .......... .......... .......... .......... .......... 86% 26.6M 0s
  9350K .......... .......... .......... .......... .......... 86%  408M 0s
  9400K .......... .......... .......... .......... .......... 87% 33.1M 0s
  9450K .......... .......... .......... .......... .......... 87%  353M 0s
  9500K .......... .......... .......... .......... .......... 88%  117M 0s
  9550K .......... .......... .......... .......... .......... 88% 27.5M 0s
  9600K .......... .......... .......... .......... .......... 89% 94.1M 0s
  9650K .......... .......... .......... .......... .......... 89%  294M 0s
  9700K .......... .......... .......... .......... .......... 89%  335M 0s
  9750K .......... .......... .......... .......... .......... 90% 32.9M 0s
  9800K .......... .......... .......... .......... .......... 90%  151M 0s
  9850K .......... .......... .......... .......... .......... 91%  278M 0s
  9900K .......... .......... .......... .......... .......... 91% 28.8M 0s
  9950K .......... .......... .......... .......... .......... 92%  236M 0s
 10000K .......... .......... .......... .......... .......... 92% 37.8M 0s
 10050K .......... .......... .......... .......... .......... 93%  375M 0s
 10100K .......... .......... .......... .......... .......... 93%  127M 0s
 10150K .......... .......... .......... .......... .......... 94% 26.2M 0s
 10200K .......... .......... .......... .......... .......... 94%  199M 0s
 10250K .......... .......... .......... .......... .......... 95% 34.9M 0s
 10300K .......... .......... .......... .......... .......... 95%  157M 0s
 10350K .......... .......... .......... .......... .......... 95%  206M 0s
 10400K .......... .......... .......... .......... .......... 96%  265M 0s
 10450K .......... .......... .......... .......... .......... 96% 28.5M 0s
 10500K .......... .......... .......... .......... .......... 97%  285M 0s
 10550K .......... .......... .......... .......... .......... 97%  127M 0s
 10600K .......... .......... .......... .......... .......... 98% 21.1M 0s
 10650K .......... .......... .......... .......... .......... 98%  160M 0s
 10700K .......... .......... .......... .......... .......... 99%  243M 0s
 10750K .......... .......... .......... .......... .......... 99%  207M 0s
 10800K .......... .......... .......... .........            100%  229M=0.3s

2023-01-24 13:17:26 (38.6 MB/s) - 'green_tripdata_2019-01.csv.gz' saved [11099245/11099245]

In [42]:
df = pd.read_csv('green_tripdata_2019-01.csv.gz')

In [43]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [44]:
print(pd.io.sql.get_schema(df, name="green_taxi_trips", con=engine))

CREATE TABLE green_taxi_trip (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [45]:
print(pd.io.sql.get_schema(df, name="green_taxi_trips"))

CREATE TABLE "green_taxi_trip" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [46]:
df.to_sql(name='green_taxi_trips', con=engine, if_exists='replace')

918

In [47]:
df.head(n=5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN